admm_log.txt
benchmarkData/
**.ipynb
test/
data/

**/.DS_Store
.DS_Store
**.DS_Store
zqj/.ipynb_checkpoints/
**.swp
**.pyc

# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
*.pdf

# SyncTeX
*.synctex.gz

# BibTeX
*.bbl
*.blg

